/* Universal Styles */

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    background-color: #FCF7F8;

}

body {
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Martel', serif;
    position: relative;
    top: 91px;
    color: #242424;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #2C2C43;
}

a:link {
    text-decoration: none;
}


.container {
    padding-left: 1em;
    padding-right: 1em;
}

.dp-flex {
    display: flex
}


/* Header Styles */
.main-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 1;
    background-color:  #2C2C43;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.main-header h1 {
    color: #FCF7F8;
}

/* Theme Section*/
#theme {
    flex-direction: column;
}

.pallettes {
    align-self: center;
    justify-content: center;
    padding: 2px 16px;
    flex-direction: column;
    
}
.pallette {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin:1em; 
    padding-top:1em;
    transition: 0.3s;
    border-radius: 5px;
    text-align: center;
    height: 300px;
    width: 300px;
    flex-direction: column-reverse;
    flex-basis: 300px;
    
}



.name {
    line-height: .5;
    background-color: #FCF7F8;
    padding: .5em;
    font-weight: bold;
}

.pal-name {
    text-transform: capitalize ;
}

.space-cadet {
    background-color: #2C2C43;
}

.english-violet {
    background-color: #442C44;
}

.rifle-green {
    background-color: #44442c;
}

.kombu-green {
    background: #2C4438;
}

.eerie-black {
    background: #242424;
}

@media(min-width: 37.5em){
   .pallettes{
    flex-direction: row;
    flex-wrap: wrap;
   }

    .pallette { 
        flex-basis: 200px;
    } 
}

@media(min-width: 48.4375em){
    .pallettes{
        justify-content: space-evenly;
    }
}





/* UI Styles */

